[class^="col-"]{
    background-color: rgb(3, 3, 182);
    border: 1px solid white;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nested{
    background-color: rgb(17, 200, 17);
    border: 1px solid rgb(3, 3, 182);
    height: 25px;
}

.col-6>.row{
    padding: 0 1rem;
}

.subline{
    margin-bottom: 1rem;
}