/* Utilities */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

.color-black{
    color: black;
}
.color-gray{
    color: gray;
}
.align-center{
    align-items: center;
}
.justify-start{
    padding-left: 1rem;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
    padding-right: 1rem;
}

.p2{
    padding: 0 2rem;
}
.p1{
    padding: 1rem 0;
}

/* header */
.navbar{
    height: 70px;
    background-color: rgb(226, 226, 226);
}

/* main */
.section-top{
    flex-direction: column;
}

/* footer */
footer{
    background-color: rgb(226, 226, 226);
}

footer .col-4{
    flex-direction: column;
    font-weight: bold;
    font-size: 0.9rem;
    row-gap: 0.5rem;
}
/* hover */
.hw:hover{
    color: white;
}