/* Utilities */
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.color-black{
    color: black;
}
.align-center{
    align-items: center;
}
.justify-start{
    padding-left: 1rem;
}
.justify-center{
    justify-content: center;
}
.justify-end{
    justify-content: flex-end;
    padding-right: 1rem;
}

/* header */
.navbar{
    height: 50px;
    background-color: rgb(226, 226, 226);
}

/* hover */
.hw:hover{
    color: white;
}